# Ignore frontend folder on backend branch
/frontend/

# Backend specific
backend/target/
backend/.mvn/
backend/mvnw
backend/mvnw.cmd
backend/.classpath
backend/.project
backend/.settings/

# IDE specific
.vscode/
.idea/
*.iml

# OS specific
.DS_Store
Thumbs.db